# ==========================================================================
# 🪐 SIGOCARTERA V2 — ARCHIVO DE EXCLUSIÓN GIT (ANGULAR 18 PROFESSIONAL)
# ==========================================================================

# Carpetas de Compilación y Output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencias Locales y Logs de Paquetes
/node_modules
node_modules/
npm-debug.log
yarn-error.log

# Entornos y Llaves Secretas del Backend
.env
.env.*

# Visual Studio Code e IDEs de Desarrollo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Caché del Framework y Reportes Temporales
/.angular/
/.angular/cache
.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Archivos Basura del Sistema Operativo
.DS_Store
Thumbs.db
